.Results {
  position: relative;
}

/* .Results .Aside {
  border: 4px solid blue;
  position: fixed;
  left: 0;
  top: var(--size-header);
  bottom: 0;
  width: 20%;
} */

.Results-content {
  margin-left: 20%;
  padding: 0 var(--space-big);
}

.Results-title,
.Results-message {
  padding: var(--space-normal) 0;
  margin-bottom: var(--space-big);
}

.Results-message {
  color: gray;
}

.Results .Playlist {
  margin: var(--space-small);
  width: calc((100% / 4) - 1em);
}

.Results .User {
  width: calc((100% / 4) - 1em);
  margin: var(--space-small);
}
