.container {
  padding: 0 2em;
}

.content {
  padding: var(--space-normal);
}

.page {
  margin-top: var(--size-header);
  margin-bottom: var(--size-miniplayer);
}

/* buttons */
.btn {
  border: none;
  color: white;
  cursor: pointer;
  font-size: var(--font-normal);
  padding: var(--space-small) var(--space-normal);
}

.btn-normal {
  background-color: var(--orange);
}

.btn-flat {
  color: var(--dark);
  border: 1px solid var(--gray);
  /* box-shadow: 0 0 1px var(--gray); */
  padding: var(--space-extra-small) var(--space-small);
  background-color: transparent;
}

.btn-play {
  color: white;
  cursor: pointer;
  background-color: var(--orange);
  border: none;
  border-radius: 50%;
  font-size: var(--font-medium);
  padding: var(--space-small);
}

/* links */
.tag {
  background-color: gray;
  border-radius: var(--space-big);
  color: white;
  display: inline-block;
  font-size: var(--font-small);
  margin: var(--space-small);
  padding: var(--space-small);
  text-decoration: none;
}

/* images */
.imageContainer {
  font-size: 0;
}

.image {
  max-width: 100%;
}

/* utils */

.truncate {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.styledTag {
  background-color: black;
  color: white;
  padding: var(--space-extra-small) var(--space-small);
}

.trackCount {
  background-color: var(--dark);
  border-radius: 50%;
  color: white;
  padding: var(--space-normal) var(--space-medium);
  text-align: center;
  display: flex;
  flex-direction: column;
}

.trackCount span:first-of-type {
  font-size: var(--font-big);
  font-weight: bold;
}

.trackCount span:nth-child(2) {
  text-transform: uppercase;
  margin: var(--space-small) 0;
}

.trackCount span:last-of-type {
  color: var(--gray);
}
