:root {
  /* colors */
  --orange: #ff5500;
  --gray: #f2f2f2;
  --light-gray: #f2f2f2;
  --dark: #333333;

  /* spaces */
  --space-small: 0.5em;
  --space-normal: 1em;
  --space-medium: 1.5em;
  --space-big: 2em;

  /* fonts */
  --font-small: 0.8em;
  --font-normal: 1em;
  --font-medium: 1.2em;
  --font-big: 1.5em;
  --font-title: 2em;
  --font-logo: 2.5em;

  /* sizes */
  --size-header: 3em;
  --size-banner-height: 50vh;
  --size-num-items-card: 6;

  /* z-index */
  --z-header: 1000;
}
