.Miniplaylist {
  background-color: white;
  box-shadow: 0 0 2px 1px var(--gray);
}

.Miniplaylist-header {
  padding: var(--space-normal);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Miniplaylist-title {
  color: var(--dark);
}

.Miniplaylist-drop {
  background-color: transparent;
  border: 1px solid var(--gray);
  border-radius: 2px;
  cursor: pointer;
  font-size: var(--font-normal);
  margin-right: var(--space-medium);
  padding: var(--space-small) var(--space-normal);
}

.Miniplaylist-close {
  background-color: transparent;
  color: var(--dark);
}

.Miniplaylist-tracklist {
  padding: var(--space-normal) 0;
}

.Miniplaylist-tracklist .TrackList {
  padding: 0 var(--space-normal);
}
