.User-photo {
  border-radius: 50%;
  display: block;
  overflow: hidden;
  text-decoration: none;
}

.User-description {
  color: var(--dark);
  text-align: center;
  padding: var(--space-normal);
}
