.PopularTracks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.PopularTracks .List {
  padding: var(--space-small);
}

.PopularTracks .TrackCard {
  margin: var(--space-small);
  width: calc((100% / 6) - 1em);
}

.PopularTracks-title {
  margin: var(--space-medium) 0 var(--space-normal);
}

.PopularTracks-button {
  margin: var(--space-small) 0 var(--space-big);
}
