.Header {
  background-color: var(--dark);
  height: var(--size-header);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: var(--z-header);
}
