.TrackHeader {
  background: linear-gradient(
    to left,
    var(--header-gradient-dark) 40%,
    var(--header-gradient-light) 100%
  );
  padding: var(--space-normal);
  display: flex;
  justify-content: space-between;
}

.TrackHeader-content {
  flex: 1;
  padding: var(--space-normal);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.TrackHeader-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.TrackHeader-progress {
  background-color: var(--light-gray);
  height: 75px;
}

.TrackHeader-actions {
  display: flex;
  align-items: flex-center;
}

.TrackHeader-play {
  margin-right: var(--space-small);
}

.TrackHeader-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.TrackHeader-author {
  font-size: var(--font-small);
  margin-bottom: var(--space-small);
  text-decoration: none;
}

.TrackHeader-date {
  color: white;
}

/* Photo */
.TrackHeader-photo {
  margin-left: 2rem;
  flex-basis: 25%;
}
