.ItemHeader {
  background: linear-gradient(
    to left,
    var(--header-gradient-dark) 40%,
    var(--header-gradient-light) 100%
  );
  padding: var(--space-normal);
  display: flex;
  justify-content: space-between;
}

.ItemHeader-content {
  flex: 1;
  padding: var(--space-normal);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.ItemHeader-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.ItemHeader-actions {
  display: flex;
  align-items: flex-start;
}

.ItemHeader-play {
  margin-right: var(--space-small);
}

.ItemHeader-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.ItemHeader-author {
  font-size: var(--font-small);
  margin-bottom: var(--space-small);
  text-decoration: none;
}

.ItemHeader-date {
  color: white;
}

/* Photo */
.ItemHeader-photo {
  margin-left: 2rem;
  flex-basis: 25%;
}
