.TrackCardList .List {
  display: flex;
  flex-wrap: wrap;
  padding: var(--space-small);
}

/* .TrackCardList .TrackCard {
  margin: var(--space-small);
  width: calc((100% / var(--size-num-items-card)) - 1em);
} */
